# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
app/venv/

# Flask
instance/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Docker
*.tar

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
