body{

    font-family:'Poppins',sans-serif;

    background:#f4f7fb;

}

.navbar{

    background:#232F3E;

}

.navbar-brand{

    font-size:28px;

}

.nav-link{

    color:white !important;

    margin-left:15px;

    transition:.3s;

}

.nav-link:hover{

    color:#FF9900 !important;

}

.btn-warning{

    background:#FF9900;

    border:none;

    color:white;

    font-weight:600;

}

.btn-warning:hover{

    background:#ffad33;

}

.hero{

    text-align:center;

    padding:90px 20px;

}

.hero h1{

    font-size:58px;

    font-weight:700;

}

.hero p{

    font-size:22px;

    color:#555;

}

.card{

    border:none;

    border-radius:15px;

    transition:.3s;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.card:hover{

    transform:translateY(-8px);

}

.footer{

    background:#232F3E;

    color:white;

    padding:35px;

}

table{

    background:white;

}

input{

    width:100%;

    padding:12px;

    border-radius:8px;

    border:1px solid #ddd;

}

button{

    border-radius:8px;

}
