<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudCart</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>

    <h1 class="logo">CloudCart</h1>

    <nav>

        <a href="/">Home</a>

        <a href="/products">Products</a>

        <a href="/about">About</a>

        <a href="/contact">Contact</a>

    </nav>

</header>

{% block content %}

{% endblock %}

<hr>

<footer>

<p>CloudCart Version 0.1.0</p>

</footer>

</body>

</html>
