{% extends "base.html" %}

{% block content %}

<section class="hero">

    <h2>Welcome to CloudCart</h2>

    <p>
        Cloud-Native E-Commerce Platform built using Flask,
        Docker, Jenkins, Terraform, Ansible and Kubernetes.
    </p>

    <button>Shop Now</button>

</section>

<section class="products">

    <h2>Featured Products</h2>

    <div class="card-container">

        <div class="card">
            <h3>Laptop</h3>
            <p>₹65,000</p>
        </div>

        <div class="card">
            <h3>Keyboard</h3>
            <p>₹1,500</p>
        </div>

        <div class="card">
            <h3>Monitor</h3>
            <p>₹12,000</p>
        </div>

    </div>

</section>

{% endblock %}
