{% extends "base.html" %}

{% block content %}

<section class="hero">

    <h1>☁ CloudCart</h1>

    <p class="lead">
        Cloud Native W-Commerce Platform
    </p>

    <p>
        Build • Deploy • Automate • Scale
    </p>

    <div class="mt-4">

        <a href="/products" class="btn btn-warning btn-lg">

            Browse Products

        </a>

        {% if not session.get("logged_in") %}

        <a href="/login"
           class="btn btn-outline-dark btn-lg ms-3">

            Admin Login

        </a>

        {% endif %}

    </div>

</section>

<hr class="my-5">

<h2 class="text-center mb-4">

Featured Products

</h2>

<div class="row">

{% for product in products %}

<div class="col-lg-4 col-md-6 mb-4">

<div class="card h-100">

{% if product.image %}

<img src="{{ product.image }}"
     class="card-img-top"
     style="height:220px;object-fit:cover;">

{% endif %}

<div class="card-body">

<h5>{{ product.name }}</h5>

<p>

₹ {{ product.price }}

</p>

<span class="badge bg-primary">

{{ product.category }}

</span>

<br><br>

<a href="/product/{{ product.id }}"
   class="btn btn-warning">

View Details

</a>

</div>

</div>

</div>

{% endfor %}

</div>

<hr class="my-5">

<h2 class="text-center">

Technology Stack

</h2>

<div class="row text-center mt-4">

<div class="col-md-2">

<h1>☁</h1>

<p>AWS</p>

</div>

<div class="col-md-2">

<h1>🐍</h1>

<p>Flask</p>

</div>

<div class="col-md-2">

<h1>🐳</h1>

<p>Docker</p>

</div>

<div class="col-md-2">

<h1>⚙</h1>

<p>Jenkins</p>

</div>

<div class="col-md-2">

<h1>🏗</h1>

<p>Terraform</p>

</div>

<div class="col-md-2">

<h1>☸</h1>

<p>Kubernetes</p>

</div>

</div>

{% endblock %}
