{% extends "base.html" %}

{% block content %}

<div class="row">

    <div class="col-md-5">

        <img src="{{ product.image }}"
             class="img-fluid rounded shadow">

    </div>

    <div class="col-md-7">

        <h2>{{ product.name }}</h2>

        <h3 class="text-warning">

            ₹ {{ product.price }}

        </h3>

        <hr>

        <p>

            <strong>Brand :</strong>

            {{ product.brand }}

        </p>

        <p>

            <strong>Category :</strong>

            {{ product.category }}

        </p>

        <p>

            <strong>Stock :</strong>

            {{ product.stock }}

        </p>

        <p>

            <strong>Rating :</strong>

            ⭐ {{ product.rating }}/5

        </p>

        <hr>

        <h4>Description</h4>

        <p>

            {{ product.description }}

        </p>

        <a href="/products"
           class="btn btn-secondary">

            Back

        </a>

    </div>

</div>

{% endblock %}
